.side-nav-bar{
    height: 100vh;
    background-color: burlywood;
    width: 15%;
    position: fixed;
  }
  .my-list {
    display: flex;
    justify-content: center;
  }
  ul {
    width: 90%;
    padding: 0;
    list-style-type: none;
    margin-top: 0px;
  
  }
  
  li button{
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    padding: 7px;
    text-align: left;
    font-size: 15px;
    border: 1px solid black;
    background-color: rgb(237, 150, 115);
    cursor: pointer;
    /*background-color: antiquewhite;
       border: solid black;
    */
  }
  li button:hover{
    background-color: rgb(77, 50, 40);
    color: aliceblue;
  }
  .app-title{
    margin: 15px;
    font-size: 20px;
  }
  h4.user{
   /* border: solid black;*/
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .is-active{
    background-color: rgb(77, 50, 40)!important;
    color: aliceblue;
  }