.side-nav-bar{
    height: 100%;
    background-color: var(--primary-color);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu-close {
  display: flex;
  justify-content: center;/* Center the icon */    
}
.menu-open {
  display: flex;
  justify-content: flex-end;/* Center the icon */    
}

.menu-container {
  width: 40px;
}
.hb {
  width: 40px;
  margin: 0;
}


.icons{
  color: var(--quaternary-color);
  width: 35px;
  margin: 0;
}
.icheck{
  margin-left: -3px;
}

ul li button{
  display: flex;
  align-items: center;
}

  .my-list {
    display: flex;
    justify-content: center;
  }
  ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    margin-top: 0px;
  
  }
  
  li button{
    width: 100%;
    padding: 7px;
    height: 50px;
    text-align: left;
    font-size: 15px;
    border: 0px;
    background-color: #ffffff00;
    cursor: pointer;
    color: var(--quaternary-color);
    /*background-color: antiquewhite;
       border: solid black;
    */
  }
  li button:hover{
    background-color: var(--secondary-color);
    color: aliceblue;
  }
  .app-title{
    margin: 15px;
    font-size: 20px;
  }
  h4.user{
   /* border: solid black;*/
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .is-active{
    background-color: var(--tertiary-color)!important;
    color: aliceblue;
  }