<div>
    <div class="side-nav-bar">
        <h3 class="user">{{ user }}</h3>
        <div class="my-list">
            <ul>
                <li><button routerLink="important"  routerLinkActive="is-active">Important</button></li>
                <li><button routerLink="today" routerLinkActive="is-active">Today</button></li>
                <li><button routerLink="plans" routerLinkActive="is-active">Plans</button></li>
                <li><button routerLink="task" routerLinkActive="is-active">Task</button></li>
                <li><button routerLink="list" routerLinkActive="is-active"> List</button></li>
            </ul>
        </div>
    </div>
</div>


