
.parent {
    width: 100vw;
    height: 100vh;
}

form {
    max-height: 30rem;
    min-height: 30rem;
    max-width: 25rem;
    min-width: 25rem;
    background-color: rgb(227, 204, 174);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: #050505;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {

}

button.login-button {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(92, 146, 240); /* Ensure this is set to the desired background color */
    color: #050505 !important; /* This sets the font color to white and uses !important to override other styles */
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
