main{

    display: flex;
    flex-wrap: initial;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: var(--secondary-color);
}
*{
    color: var(--quaternary-color);
}
.overview-main{
    width: 100vw;
    height: calc(100vh - 65px);
    overflow: auto !important;
}
h1.type{
    padding-left: 2%;
    margin-top: 5px;
    color: var(--quaternary-color);
}
.task-lists {
    height: fit-content;
    width: auto;
    padding-left: 4%;
}
div.add-task-div{
    height: 40px;
    display: flex;

}
.add-task-btn {
    width: 10%;
    height: 100%;
    background-color: rgb(92, 146, 240);
    border-radius: 5px;
    border: black solid 1px;
    cursor: pointer;
}
.item-lists{
    max-height: max-content;
    margin: 10px;
    width: 75vw;
    min-width:1000px;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 15px;
}
.notes {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}
.clickable{
    position: absolute;
    z-index: 1;
    width: 850px;
    height: 50px;
    cursor: pointer;
}

.crossout{
    position: absolute;
    width: 90%;
    height: inherit;
    border-radius: 15px;
    background-color: rgba(66, 65, 65, 0.603);
}
.crossout:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid #111;
    width: 100%;
  }

.note-title{
    max-width: 700px;
    height: 20px;
    width: 400px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.note-date {
    width: 220px;
    height: 20px;
    text-align: center;
}
.note-important{
    width: 83px;
}
.display-list {
    height: 65px;
    display: flex;
    align-items: center;

}
.buttons{
    width: 50px;
    height: 30px;
    margin-right: 20px;
}
.delete-button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 66, 66);
    color: white;
    cursor: pointer;
}
.row-buttons{
    width: 50px;
    margin-right: 20px;
}

.row-title{
    width: 400px;
}

.row-date {
    width: 220px;
    height: 20px;
    text-align: center;
}
.row-important{
    width: 83px;
}
.item-lists-header{
    margin: 10px;
    width: 75vw;
    min-width:1000px;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 15px 15px 3px 3px;
}
.notes-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.radio-complete {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.blank{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.complete-div{
    display: flex;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: var(--secondary-color);
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--primary-color);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.rate {
    width: max-content;
    height: max-content;
    margin: auto;
    margin-bottom: 10px;
  }
  .rate:not(:checked) > input {
    display: none; 
  }
  .rate:not(:checked) > label {
    cursor: pointer;
    font-size: 45px;
    color: #ffffff;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: rgb(92, 146, 240);
  }
  