main{
    /*border: solid black;
    height: 200vw;*/
    display: flex;
    flex-wrap: initial;
    height: auto;
    font-family: sans-serif;
    
}
.overview-main{
    width: 100vw;
    margin-left: 15%;
    height: auto;
}
h1.type{
    /*border: solid black; */
    padding-left: 2%;
    margin-top: 5px;
}
.task-lists {
    height: fit-content;
    width: auto;
    padding-left: 4%;
}
div.add-task-div{
    height: 40px;
    display: flex;

}
.add-task-btn {
    width: 10%;
    height: 100%;
    background-color: rgb(92, 146, 240);
    border-radius: 5px;
    border: black solid 1px;
    cursor: pointer;

}
.item-lists{
    max-height: max-content;
    margin: 10px;
    width: 75vw;
    background-color: rgb(227, 204, 174);
    border-radius: 15px;
}
.notes {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 64px;
}
.list-buttons{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-title{
    margin-left: 40px;
}
.note-date {
    /*background-color: aqua;*/
    width: 156px !important;
    height: 20px;
    text-align: center;
}
.display-list {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.note-type{
    margin-left: 50px;
}
.buttons{
    width: max-content;
}

.row-title{
    margin-left: 50px;
}
.row-type{
    margin-left: 50px;
}
.row-date {
    /*background-color: aqua;*/
    width: 156px !important;
    height: 20px;
    text-align: center;
}
.item-lists-header{
    margin: 10px;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background-color: rgb(227, 204, 174);
    border-radius: 15px 15px 3px 3px;
}
.notes-header{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}