<main >
    <app-create-form *ngIf="taskService.showDialog" ></app-create-form>
    <app-todo-details *ngIf="taskService.showDetails" ></app-todo-details>
    <div class="overview-main">
        <div>
            <h1 class="type" >Search for `{{ outputSearch }}`</h1>
        </div>
        <div class="task-lists">
            <div class="item-lists-header">
                <div class="notes-header">
                    <h4 class="row-type">Type</h4>
                    <h4 class="row-title">Title</h4>
                    <h4 class="row-date">Due Date</h4>
                </div>
            </div>
            <div *ngFor="let item of data" class="item-lists">
                <div class="display-list" >
                    <div class="notes" (click)="viewNotes(item.id)">
                        <h4 class="note-type">{{ item.type }}</h4>
                        <h4 class="note-title">{{ item.title }}</h4>
                        <p class="note-date">{{ item.dueDate ? item.dueDate : 'None' }}</p>
                    </div>
                    <div class="list-buttons">
                        <div class="buttons">
                            <button class="delete-button" (click)="delete(item.id)">Delete</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</main>
