
.view-details {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: rgba(112, 112, 112, 0.3);
    z-index: 4;
}
.title{
    height: 2rem;
    width:48rem;
    font-size: medium;
}
#dueDate{
    height: 2rem;
    width:13rem;
    font-size: medium;
}

form {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}
.title::placeholder{
    color: black;
    font-size: medium;
    text-align: justify;
}
.description{
    height: 5rem;
    max-height: 5rem;
    min-height: 5rem;
    width:58rem;
    max-width:58rem;
    min-width: 20rem;
    overflow: auto;
    margin-bottom: 10px;
    font-size: medium;
}
.buttons{
    width: max-content;
    height: 33px;
}
.fbutton {
    width: 5rem;
    background-color: white;
    height: inherit;
    border-radius: 5px;
    border: solid 1px black;
}
.cancel-fbutton {
  margin-left: 3px;
    background-color: rgb(237, 150, 115);
}
.create-fbutton {
  margin-right: 3px;
  background-color: rgb(92, 146, 240);
}
.hidden-description{
  height: 8rem;
  width: 80rem;
  background-color: rgb(227, 204, 174);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.view-details-bg{
  height: 12.5rem !important;
}
.one-line{
  display: flex;
  align-items: center;
}


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    height: 25px;
    width: max-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container p{
    padding-top: 4px;
    font-size: medium;
  }
  .description-icon {
    width: 30px;
    height: 30px;
    /*background-color: red;*/
    background-image: url("../../../assets/book.png");
    background-repeat: no-repeat;
    background-size: 100%; /* Adjust the size of the icon */
    background-position: center;
  }
  .description-icon:hover{
    cursor: pointer;
  }

  
.showingDescription{
  background-color: rgb(92, 146, 240);
}
.rate {
  width: max-content;
  height: max-content;
  padding: auto;
  margin-bottom: 10px;
  margin-right: 5px;
}
.rate:not(:checked) > input {
  display: inline-block;
  position: absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  overflow:hidden;
  cursor:pointer;
  font-size:45px;
  color:#ffffff;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: rgb(92, 146, 240);    
}
/* box shadow */
.shadow{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
/* Tooltip */

.rate[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid black;
  background: #ffffff;
  margin-left: -50px;
  padding: .25em;
}
.description-icon[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid black;
  background: #ffffff;
  margin-top: 35px;
  margin-left: -65px;
  padding: .25em;
}
#dueDate[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid black;
  background: #ffffff;
  margin-top: 5px;
  margin-left: -30px;
  padding: .25em;
}
.dueDateNotNUll[data-tooltip]:hover::after {
  display: block;
  position: absolute;
  content: attr(data-tooltip);
  border: 1px solid black;
  background: #ffffff;
  margin-top: 70px;
  margin-left: -10px;
  padding: .25em;
}

#dueDate{
  width: max-content;
  cursor: pointer;
}
.dueDate{
  background-color: #ffffff;
  border-radius: 10px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dueDateNotNUll{
  height: 30px;
}

/* Custom styling for the datetime input */
input[type="datetime-local"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: #ffffff00;
  border-radius: 4px;
  font-size: 16px;
  width: 250px;
}

input[type="datetime-local"]::-webkit-datetime-edit,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button {
  display: none;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator{
  font-size: 30px;
}
input[type="datetime-local"]:focus {
  outline: none;
}