<div class="view-details">
    <div class="view-details-bg">
        <div class="form">
            <div class="first-row">
                <input type="checkbox" class="radio-complete" [(ngModel)]="isDone"/>
                <input type="text" id="title" name="title"  [(ngModel)]="title" class="title" [class.cross-text] = "isDone === true">
                <div class="rate" data-tooltip="Mark as Important">
                    <input type="checkbox" id="star" name="rate" [(ngModel)]="isImportant" />
                    <label for="star"></label>
                </div>
            </div>
            <div class="second-row">
                <p class="date">Date created: {{dateCreated}}</p>
                <div class="duedate">
                    <input type="datetime-local" id="dueDate" name="dueDate" [(ngModel)]="dueDate" data-tooltip="Add due date">
                    <p class="myDueDate">{{ dueDate ? dueDate : 'No Due date' }}</p>
                </div>
            </div>
            <textarea class="description" type="text" id="description" name="description" [(ngModel)]="description" placeholder="Description . . ."> </textarea>
            <div class="buttons">
                <input type="submit" value="Save" (click)="save()" class="fbutton save-fbutton">
                <button class="cancel-btn" (click)="ts.showDetails=false" class="fbutton cancel-fbutton">Close</button>
            </div>
        </div>        
    </div>
</div>