.main-container {
    height: calc(100vh - 60px); /* Adjust 60px to match your top navigation height height: calc(100vh - 60px);*/
    display: flex;
}
.sidebarOpen{
    width: 13vw;
    background-color: aqua;
}
.sidebarClose{
    width: 2vw;
    background-color: aqua;
}
.content-area {
    height: 100vh;
}
.content-area-close{
    width: 50vw;
}

