.body-top-nav{
  height: 65px;
  background-color: rgb(94, 94, 94);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search {
  width: 26rem;
  display: flex;
}

.searchTerm {
  width: 24rem;
  border: 3px solid rgb(92, 146, 240);
  border-right: none;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 45px;
  aspect-ratio: 1 / 1; /* This ensures the button remains square */
  background: url("../../assets/search-icon.png");
  background-repeat: no-repeat;
  background-size: 70%; /* Adjust the size of the icon */
  background-position: center;
  background-color: rgb(237, 150, 115);
  border: 3px solid rgb(92, 146, 240);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  flex-shrink: 0; /* Prevents the button from shrinking */
  padding: 0; /* Remove any padding */
  font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: antiquewhite;*/
}
.title{
  color: rgb(237, 150, 115);
  margin-left: 50px;
}