  <!--<app-profile *ngIf="topNav.showProfile"></app-profile>-->
<div class="body-top-nav">
    <div>
        <h2 class="title">To Do</h2>
     </div>
    <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="input">
           <button type="submit" class="searchButton" (click)="search()">
            <span class="icon-search"></span>
           </button>
        </div>
        <div>
          
          <app-dropdown-profile-menu></app-dropdown-profile-menu>
        </div>
        <!--<div><button (click)="logout()" routerLink="/login">logout</button></div>-->
     </div>
     <!--empty-->
     <div></div>
</div>
